/BiblioTec/nbproject/private/
/BiblioTec/BiblioTec-war/nbproject/private/
/BiblioTec/BiblioTec-ejb/nbproject/private/
/BiblioTec/BiblioTec-ejb/build/
/BiblioTec/BiblioTec-ejb/dist/
/BiblioTec/BiblioTec-war/build/
/BiblioTec/build/
/BiblioTec/BiblioTec-war/dist/
/BiblioTec/dist/